.m-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #019160;
  border-radius: 4px;
  height: 40px;
  font-size: 13px;
  color: #ffffff;
  padding: 0 24px;
  text-align: center;
  outline: unset;
  border: none;
  min-width: 100px;
}

.m-btn:hover {
  background-color: #2fbe8e;
}

.m-btn:focus {
  background-color: #01b075;
}

.btn-reload {
  cursor: pointer;
  width: 52px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #dbdeff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  background-image: url(../../content/icon/refresh.png);
}

.btn-delete {
  cursor: pointer;
  width: 52px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #dbdeff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  background-color: rgb(238, 20, 20);
  color: #ffffff;
  margin-right: 10px;
}

.handle-wrapper button {
  cursor: pointer;
  display: block;
  height: 40px;
  background-color: #ffffff;
  width: 40px;
  font-size: 13px;
  border: 1px solid #dbdeff;
  border-radius: 50%;
}

.handle-wrapper button:first-child {
  color: #01b075;
  border: 1px solid #01b075;
}

.handle-wrapper button:last-child {
  color: rgb(238, 20, 20);
  border: 1px solid rgb(238, 20, 20);
}
