.m-btn {
  display: flex;
  align-items: center;
  background-color: #019160;
  border-radius: 4px;
  height: 40px;
  font-size: 13px;
  color: #ffffff;
  padding: 0 24px;
  text-align: center;
  outline: unset;
  border: none;
  min-width: 100px;
}

.m-btn:hover {
  background-color: #2fbe8e;
}

.m-btn:focus {
  background-color: #01b075;
}
