@import url(/css/common/common.css);
@import url(/css/component/button.css);
@import url(/css/component/input.css);
@import url(/css/component/combobox.css);
@import url(/css/component/table.css);
@import url(/css/component/paging-navigation.css);
@import url(/css/component/chip-status.css);
@import url(/css/component/toast-messenger.css);
@import url(/css/component/pop-up.css);
@import url(/css/component/icons.css);
@import url(/css/layout/navbar.css);
@import url(/css/layout/header.css);
@import url(/css/layout/content.css);
@import url(/css/layout/footer.css);
@import url(/css/component/form-staff.css);

body {
  font-family: GoogleSans;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@font-face {
  font-family: GoogleSans;
  src: url(../content/font/GoogleSans-Regular.otf);
}

@font-face {
  font-family: GoogleSans-Bold;
  src: url(../content/font/GoogleSans-Bold.otf);
}

@font-face {
  font-family: GoogleSans-Medium;
  src: url(../content/font/GoogleSans-Medium.otf);
}

@font-face {
  font-family: GoogleSans-Regular;
  src: url(../content/font/GoogleSans-Regular.otf);
}
