.content {
  height: calc(100vh - 48px);
  padding: 16px 16px 0 16px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.content-title-text {
  font-size: 20px;
  font-weight: 700;
}

.content-search {
  display: flex;
  align-items: center;
  margin-top: 8px;
  justify-content: space-between;
}

.search-wrapper-right {
  display: flex;
}

.content-search .m-combobox {
  margin: 0 8px;
}
